<head>
    <title>Guides</title>
</head>
<body>
    <div>
        <h2>Temperature Sensor DS18B20</h2>
        <ul>
            <li><a href="https://www.kjell.com/se/sortiment/el-verktyg/elektronik/arduino/tillbehor/luxorparts-temperatursensor-med-kabel-for-arduino-p87893">Kjell o Company</a></li>
            <li><a href="https://learn.adafruit.com/adafruits-raspberry-pi-lesson-11-ds18b20-temperature-sensing/ds18b20">Software Example</a></li>
        </ul>

    </div>
    <div>
        <h2>GPIO</h2>
        <ul>
            <li><a href="https://pypi.python.org/pypi/RPi.GPIO">RPI.GPIO</a></li>
        </ul>
    </div>
    <div>
        <h2>Ultrasonic Ranger (HCSR04)</h2>
        <ul>
            <li><a href="https://www.kjell.com/se/sortiment/el-verktyg/elektronik/arduino/moduler/avstandsmatare-for-arduino-p87891">Kjell o Company</a></li>
            <li><a href="https://www.modmypi.com/blog/hc-sr04-ultrasonic-range-sensor-on-the-raspberry-pi">Guide</a></li>
        </ul>
    </div>
</body>